.button {
  background-color: transparent;
  border: none;
  color: #4ab817;
  border-radius: 20px;
  cursor: pointer;
  font-family: Fjalla One;
  padding: 7px;
  transition: background-color ease 0.3s;
}

button:disabled {
  background-color: transparent;
  color: #666;
}
.hover__effect:hover {
  background-color: rgb(7, 159, 159);
  color: white;
}

@font-face {
  font-family: "Fjalla One";
  src: url(../../assets/Fjalla_One/FjallaOne-Regular.ttf) format("truetype");
}
