@font-face {
  font-family: "Fjalla One";
  src: url(../../assets/Fjalla_One/FjallaOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Unbounded";
  src: url(../../assets/Unbounded/Unbounded-VariableFont_wght.ttf)
    format("truetype");
}

.card-container {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 400px;
  background-color: none;
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 5px;
  margin-bottom: 40px;
}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
}
.card__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image {
  width: 85%;
  border-radius: 30px;
  box-shadow: 0px 20px 50px 0px rgba(74, 184, 23, 0.28);
}

.card__title {
  color: #4ab817;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}
