.search-bar-container {
  width: 70vw;
  max-width: 400px;
  margin: auto;
  position: sticky;
  top: 20px;
}

.search-bar {
  padding: 10px 20px;
  background-color: var(--color-secondary);
  display: grid;
  grid-template-columns: 1fr 24px;
  margin-bottom: 20px;
  border: solid rgba(0, 0, 0, 0.034) 1px;
  border-radius: 60px;
  box-shadow: 0px 2px 10px 0px rgba(74, 184, 23, 0.185);
}

.search-bar__input {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
}

.search-bar__button {
  border: none;
  background-color: transparent;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 20px;
}
