@font-face {
  font-family: "Fjalla One";
  src: url(../../assets/Fjalla_One/FjallaOne-Regular.ttf) format("truetype");
}

.navigation {
  height: 30px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  color: #666;
}

.navigation__pagination {
  display: grid;
  place-items: center;
  font-family: Fjalla One;
  /* text-size-adjust:  */
}
