@font-face {
  font-family: "Fjalla One";
  src: url(../../assets/Fjalla_One/FjallaOne-Regular.ttf) format("truetype");
}

.navigation {
  align-content: center;
  background-color: white;
  border: solid rgba(0, 0, 0, 0.034) 1px;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 0px rgba(74, 184, 23, 0.185);
  height: 30px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  color: #666;
  position: sticky;
  bottom: 20px;
  padding: 20px 5px;
}

.navigation__pagination {
  display: grid;
  place-items: center;
  font-family: Fjalla One;
}
