<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Rick and Morty Character Log Error</title>
    <link rel="stylesheet" href="./error.css" />
  </head>
  <body class="error__container">
    <h1 class="error__title">ERROR</h1>
    <h1 class="error__content">"WUBBA LUBBA DUB-DUB!"</h1>
    <img class="error__image" src="././images/error_image.png" width="400" />
  </body>
</html>
